*.user
*.vspscc
Debug
PaperFrameRecognize/ipch
PaperFrameRecognize/x64
PaperFrameRecognize/x64/Debug
PaperFrameRecognize/PaperFrameRecognize/x64
PaperFrameRecognize/PaperFrameRecognize/x64/Debug
*.tlog
*.obj
*.log
*.lastbuildstate
*.sdf
PyDwgPaperFrameRecognize/.idea
PyDwgPaperFrameRecognize/__pycache__
*.pyc
*.ipch
*.arx
